/*Import-All-Deepdark*/
/*Themes made by RaitaroH @https://github.com/RaitaroH*/

@import url("https://rawgit.com/RaitaroH/DuckDuckGo-DeepDark/master/DuckDuckGoDeepDark.css");
@import url("https://rawgit.com/RaitaroH/Jisho-DeepDark/master/JishoDeepDark.css");
@import url("https://rawgit.com/RaitaroH/KissAnime-DeepDark/master/KissAnimeDeepDark.css");
@import url("https://rawgit.com/RaitaroH/MyAnimeList-DeepDark/master/MyAnimeListDeepDark.css");
@import url("https://rawgit.com/RaitaroH/Stylus-DeepDark/master/StylusDeepDark.css");
@import url("https://rawgit.com/RaitaroH/Userstyles-DeepDark/master/UserstylesDeepDark.css");
@import url("https://rawgit.com/RaitaroH/Vidme-DeepDark/master/VidmeDeepDark.css");

/*Please choose only one theme for youtube.*/
/*@import url("https://rawgit.com/RaitaroH/YouTube-DeepDark/master/YouTubeDeepDarkClassic.css");*/
@import url("https://rawgit.com/RaitaroH/YouTube-DeepDark/master/YouTubeDeepDarkMaterial.css");

:root
{
	/*DeepDark colors*/
	--main-color: #00adee;
	--main-background: #111111;
	--second-background: #181818; 
	--hover-background: #232323;
	--main-text: #eff0f1;
	--dimer-text: #CCCCCC;
       
	/*KDE colors*/
	/*
	--main-color: #3DAEE9;
	--main-background: #232629;
	--second-background: #2a2e32;
	--hover-background: #31363b;
	--main-text: #eff0f1;
	--dimer-text: #bdc3c7;
	*/
	
	/*Vertex Dark colors*/
	/*
	--main-color: #4080fb;
	--main-background: #2B2B2C;
	--second-background: #353638;
	--hover-background: #515254;
	--main-text: #F3F3F5;
	--dimer-text: #AEAFB0;
	*/
	
	/*Arc Dark colors*/
	/*
	--main-color: #5294E2;
	--main-background: #343944;
	--second-background: #383C4A;
	--hover-background: #414A59;
	--main-text: #C1C8D1;
	--dimer-text: #B3BAC5;
	*/
	
	/*Firefox Dark colors*/
	/*
	--main-color: #5675B9;
	--main-background: #272B35;
	--second-background: #181D20;
	--hover-background: #353A44;
	--main-text: #E3EEF9;
	--dimer-text: #606376;
	*/
	
	/*Firefox57 Dark colors*/
	/*
	--main-color: #4080FB;
	--main-background: #0C0C0D;
	--second-background: #252526;
	--hover-background: #323234;
	--main-text: #F9F9FA;
	--dimer-text: #D0D0D0;
	*/
	
	/*Discord colors*/
	/*
	--main-color: #7289DA;
	--main-background: #1E2124;
	--second-background: #2F3136;
	--hover-background: #484B51;
	--main-text: #FFFFFF;
	--dimer-text: #ADA8AA;
	*/
	
	/*YouTube dark colors*/
	/*
	--main-color: #E52117;
	--main-background: #111111;
	--second-background: #232323;
	--hover-background: #343434;
	--main-text: #E1E1E1;
	--dimer-text: #7F7F7F;
	*/
	
	/*Mint-Y-Dark colors*/
	/*
	--main-color: #9AB87C;
	--main-background: #2F2F2F;
	--second-background: #383838;
	--hover-background: #404040;
	--main-text: #FFFFFF;
	--dimer-text: #D5DADA;
	*/
	
	/*9anime colors*/
	/*
	--main-color: #723f8c;
	--main-background: #0B0A0D;
	--second-background: #17151C;
	--hover-background: #1E1C25;
	--main-text: #B4B4B4;
	--dimer-text: #747474;
	*/
	
	/*Black and white*/
	/*
	--main-color: #ffffff;
	--main-background: #000000;
	--second-background: #0a0a0a;
	--hover-background: #0f0f0f;
	--main-text: #b4b4b4;
	--dimer-text: #828282;
	*/
	
	/*Yellow (colors from petrocompletions)*/
	/*
	--main-color: #FFC700;
	--main-background: #141414;
	--second-background: #202222;
	--hover-background: #353838;
	--main-text: #EFF0F1;
	--dimer-text: #9F9999;
	*/
	
	/*Yellow 2*/
	/*
	--main-color: #ffc700;
	--main-background: #0a0800;
	--second-background: #0c0a04;
	--hover-background: #0f0d05;
	--main-text: #fffdf5;
	--dimer-text: #fff8e1;
	*/
	
	/*Ubuntu grey colors*/
	/*
	--main-color: #EF7847;
	--main-background: #312D2A;
	--second-background: #3D3C38; 
	--hover-background: #59564D;
	--main-text: #F2F1EF;
	--dimer-text: #E6E5E3;
	*/
	
	/*Ubuntu purple colors*/
	/*
	--main-color: #EF7847;
	--main-background: #2C071A;
	--second-background: #430B28; 
	--hover-background: #520D30;
	--main-text: #F2F1EF;
	--dimer-text: #E6E5E3;
	*/
	
	/*Orange*/
	/*
	--main-color: #ff6905;
	--main-background: #0a0400;
	--second-background: #0e0702;
	--hover-background: #110903;
	--main-text: #fff9f5;
	--dimer-text: #ffede1;
	*/
	
	/*Jisho 夜明け colors https://userstyles.org/styles/115621/jisho*/
	/*
	--main-color: #EF7D6C;
	--main-background: #332222;
	--second-background: #2A1B1B;
	--hover-background: #863B2F;
	--main-text: #EFB26C;
	--dimer-text: #986E3F;
	*/
}
